omegaconf==2.1.0
ruamel.yaml==0.17.10
pytgcalls[telethon]==1.0.0
youtube-dl==2021.6.6
SQLAlchemy>=1.2,<1.4
psycopg2-binary==2.9.1
telethon-session-sqlalchemy==0.2.16
validators==0.18.2
pyee==8.1.0
ffmpeg-python==0.2.0